{% extends 'base.html' %}

{% load static %}

{% block title %}
    {{ title }}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'assets/css/owl.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/flex-slider.css' %}">
{% endblock %}

{% block content %}
    <!-- Page Content -->
    <!-- Single Starts Here -->
    <div class="single-product">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <div class="line-dec"></div>
              <h1>Товар</h1>
            </div>
          </div>
          <div class="col-md-6">
            <div class="product-slider">
              <div id="slider" class="flexslider">
                    {% if product.image %}
                      <img src="{{ product.image.url }}"
                           alt="{{ product.name }}">
                    {% else %}
                        <img src="{% static 'assets/images/default.png' %}"
                           alt="нет изображения">
                    {% endif %}
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="right-content">
              <h4>{{ product.name }}</h4>
              <h6>{{ product.price }} тг.</h6>
              <p>{{ product.description }}</p>
              <span>{{ product.quantity }} шт.</span>

                <a href="{% url 'basket:add' product.pk %}" class="btn btn-primary">
                    Добавить в корзину</a>

              <div class="down-content">
                <div class="categories">
                  <h6>Категория: <span><a href="#">{{ product.category.name }}</a></span></h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Single Page Ends Here -->


    <!-- Similar Starts Here -->
    <div class="featured-items">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <div class="line-dec"></div>
              <h1>Похожие товары</h1>
            </div>
          </div>
          <div class="col-md-12">
            <div class="owl-carousel owl-theme">

                {% for product in products %}
                    <a href="{% url 'mainapp:product' product.pk %}">
                        <div class="featured-item">
                            {% if product.image %}
                              <img src="{{ product.image.url }}"
                                   alt="{{ product.name }}">
                            {% else %}
                                <img src="{% static 'assets/images/default.png' %}"
                                   alt="нет изображения">
                            {% endif %}

                          <h4>{{ product.name }}</h4>
                          <h6>{{ product.price }} тг.</h6>
                        </div>
                    </a>
                {% endfor %}

            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Similar Ends Here -->
{% endblock %}

{% block js %}
    <script src="{% static 'assets/js/isotope.js' %}"></script>
    <script src="{% static 'assets/js/flex-slider.js' %}"></script>
{% endblock %}
