{% extends 'base.html' %}

{% load static %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <!-- Page Content -->
    <!-- Items Starts Here -->
    <div class="featured-page">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-12">
            <div class="section-heading">
              <div class="line-dec"></div>
              <h1>Товары</h1>
            </div>
          </div>
          <div class="col-md-8 col-sm-12">
            <div id="filters" class="button-group">

                <button class="btn btn-primary" data-filter="*">
                    <a href="{% url 'mainapp:category' 0 %}"
                       class="{% if request.resolver_match.kwargs.pk == 0 %}
                                active
                              {% elif request.resolver_match.kwargs.pk == None %}
                                active
                              {% endif %}">Все</a>
                </button>

                {% for category in categories %}
                    <button class="btn btn-primary" data-filter="{{ category.name }}">
                        <a href="{% url 'mainapp:category' category.pk %}"
                           class="{% if request.resolver_match.kwargs.pk == category.pk %}
                                    active
                                  {% endif %}">{{ category.name }}</a>
                    </button>
                {% endfor %}

            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="featured container no-gutter">

        <div class="row posts">

            {% for product in products %}
                <div id="{{ product.pk }}" class="item new col-md-4">
                  <a href="{% url 'mainapp:product' product.pk %}">
                    <div class="featured-item">
                      {% if product.image %}
                              <img src="{{ product.image.url }}"
                                   alt="{{ product.name }}">
                            {% else %}
                                <img src="{% static 'assets/images/default.png' %}"
                                   alt="нет изображения">
                            {% endif %}
                      <h4>{{ product.name }}</h4>
                      <h6>{{ product.price }} тг.</h6>
                    </div>
                  </a>
                </div>
            {% endfor %}

        </div>
    </div>

    <div class="page-navigation">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <ul>
              <li class="current-page"><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- Featred Page Ends Here -->
{% endblock %}

{% block js %}
    <script src="{% static 'assets/js/isotope.js' %}"></script>
{% endblock %}