{% extends 'base.html' %}

{% load static %}

{% block title %}
    {{ title }}
{% endblock %}


{% block content %}
    <div class="about-page">
    <div class="container pt-5">
        <div class="row">
            <div class="avatar mx-auto col-4">
            <img src="/media/{{ user.avatar }}" class="rounded-circle" alt="{{ user.username }}">
            </div>
        </div>
        <div class="row">
            <div class="mx-auto col-4">
                <form action="{% url 'auth:edit' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ edit_form.as_p }}

                    <button type="submit" class="btn btn-primary mt-3 mx-2">Сохранить</button>
                    <button type="button" class="btn mt-3 mx-2"><a href="{% url 'mainapp:index' %}"> На главную </a></button>
                </form>

            </div>
        </div>
    </div>
    </div>

{% endblock %}
