{% extends 'base.html' %}

{% load static %}

{% block title %}
    {{ title }}
{% endblock %}


{% block content %}
    <div class="about-page">
    <div class="container pt-5">
        <div class="row">
            <div class="mx-auto col-4">
                <form action="{% url 'auth:register' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ register_form.as_p }}
                    <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
                </form>
            </div>
        </div>
    </div>
    </div>

{% endblock %}
